
body.main_body {
  color: white;
  background: rgb(22, 22, 22);
  font-family: "Arial";
}



/**
 * Main body
 */

main {
  color: white;
  background: rgb(22, 22, 22);
  font-family: "Arial";
  padding: 0px
}

 .blue {
  color: rgb(150, 150, 252);
}


/**
 * Content body
 */

 .content {
  padding: 10px
}

.content-row {
  padding: 200px 10px 10px 10px
 }

 div.top-content {
  padding: 100px 0px 100px 0px;
}

  .project-container {
    padding: 100px
  }


/**
 * Home Section
 */


h1.heading-name {
  padding-bottom: 50px;
}

span.typewriter {
  font-size: 60;
  color: rgb(150, 150, 252);
  padding-top: 50px;
}


/**
 * Social media
 */

 .social-media {
  text-align: center;
}