
body {
  color: white;
  background: rgb(22, 22, 22);
  font-family: "Arial";
}

/**
 * Navigation bar
 */
 ul.navi {
	font-family: Arial;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(41, 41, 41);
	/*-webkit-box-shadow: 1px 1px 5px 1px #000000; */
	/*box-shadow: 1px 1px 4px 1px #A0A0A0;*/
}

ul.navi li {float: right;}

ul.navi li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  color: rgb(180, 180, 180);
}

ul.navi li a:hover:not(.active) {background-color: grey;}

ul.navi li a.active {background-color: #ffffff;}

ul.navi li.navi-left {float: left;}

@media screen and (max-width: 400px) {
ul.navi li.navi-right, 
ul.navi li {float: none;}
}


/**
 * Main body
 */

 main {
  display: box;
  padding: 0px
}

 .blue {
  color: rgb(150, 150, 252);
}


/**
 * Content body
 */

 .content {
  padding: 10px
}

.content-row {
  padding: 200px 10px 10px 10px
 }

 div.top-content {
  display: box;
  padding: 100px 0px 100px 0px;
}

  .project-container {
    padding: 100px
  }


/**
 * Home Section
 */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

h1.heading-name {
  padding-bottom: 50px;
}

/**
 * tsparticles - star effect
 */

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

span.typewriter {
  font-size: 60;
  color: rgb(150, 150, 252);
  padding-top: 50px;
}


/**
 * Social media
 */

 .social-media {
  text-align: center;
}

ul.social-media {
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
}

li {
  float:left;
}

.social-media-icon {
  text-align: center !important;
  transform: scale(2);
}

.social-media-icon a {
  position: relative !important;
  display: block;
  justify-content: center;
  color: white;
  padding: 20px 20px 20px 20px;
}


/* The actual timeline (the vertical ruler) */
div.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  }
  
  /* The actual timeline (the vertical ruler) */
  div.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: darkgrey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  padding-top: 100px;
  margin-top: 100px;
  }
  
  /* Container around content */
  div.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  }
  
  /* The circles on the timeline */
  div.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -8px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  }
  
  /* Place the container to the left */
  div.left {
  left: 0;
  }
  
  /* Place the container to the right */
  div.right {
  left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  div.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid darkslategrey;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent darkslategrey;
  }
  
  /* Add arrows to the right container (pointing left) */
  div.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid darkslategrey;
  border-width: 10px 10px 10px 0;
  border-color: transparent darkslategrey transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  div.right::after {
  left: -16px;
  }
  
  /* The actual content */
  div.timeline-content {
  padding: 20px 30px;
  background-color: darkslategrey;
  position: relative;
  border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  div.timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  div.timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  div.timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Make sure all circles are at the same spot */
  div.left::after, div.right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  div.right {
    left: 0%;
  }
  }

/**
 * Footer bar
 */

 .footer {
  font-family: Arial;
  color: rgb(204, 204, 204);
	background-color: rgb(41, 41, 41);
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-left {
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.footer-right {
  text-align: right;
  padding: 0px 20px 0px 0px;
}